<div class ="center">
</div>
<table class = "center">
	<tr>
		<td>
      <%= link_to 'Students', students_path, :class => "user-type" %>
		</td>

		<td>
      <%= link_to 'Sponsors', projects_path, :class => "user-type" %>
		</td>

		<td>
      <%= link_to 'Professors', professors_path, :class => "user-type" %>
		</td>
	</tr>
</table>
